@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary-color: #ce3635;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

#project-protfolio:hover {
  transform: translateY(-10px);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-playfair), serif;
  --activeColor: rgb(240 240 240);
  --navBgColor: rgb(37 38 41);
  --navTextColor: rgb(144 144 150);
  --mainBg: rgb(20 20 23);
}

h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.project {
  * {
    box-sizing: border-box;
  }

  section {
    --h: calc(var(--i) * 15);

    min-height: 100vh;
    padding: 8rem 0 max(5vh, 2rem);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--h, 0) 61% 51%);
  }

  .container {
    width: 100%;
    max-width: 80rem;
    padding: 0 max(5vw, 1rem);
    transform-style: preserve-3d;
    perspective: 900px;

    @media (min-width: 32em) {
      display: grid;
      grid-template-columns: repeat(7, minmax(0, 1fr));
      gap: 1rem;
    }
  }

  .section__heading {
    font-size: clamp(2rem, 12vmin, 7rem);
    line-height: 1;
    letter-spacing: -0.06em;
    margin: 0 0 1rem;
    grid-row: 1;
    grid-column: 1 / span 7;
    align-self: end;
    position: relative;
    z-index: 1;

    span {
      display: block;
    }

    span:first-child {
      font-size: clamp(1rem, 10vmin, 5rem);
    }

    span:nth-child(2) {
      word-break: break-word;
    }
  }

  .section__image {
    grid-row: 1;
    grid-column: 5 / span 3;
    position: relative;
    box-shadow: 0.45rem 0.45rem 8rem rgb(0 0 0 / 0.3);
    align-self: center;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: hsl(var(--h, 0) 50% 50%);
      mix-blend-mode: screen;
    }

    img {
      filter: brightness(0.5) grayscale(100%);
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

/* project Navigation - Always fixed */
.project-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--navBgColor);
  color: var(--navTextColor);
  z-index: 9999;
  height: 6rem;
}

body.project--active .project-nav {
  display: block;
}

.project-nav::after {
  content: '';
  position: absolute;
  top: 1.7rem;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background: currentColor;
  pointer-events: none;
}

.marker {
  display: none;
}

body.project--active .marker {
  display: block;
  position: fixed;
  top: 1.75rem;
  left: 4rem;
  width: 1rem;
  height: 1rem;
  transform: translate3d(-50%, -50%, 0);
  background: var(--activeColor);
  border-radius: 100%;
  z-index: 10000;
  pointer-events: none;
}

body.project--active .marker::before {
  content: '';
  position: absolute;
  top: calc(50% - 0.2rem);
  right: 100%;
  width: 4rem;
  height: 0.4rem;
  background-color: var(--activeColor);
}

.nav__track {
  position: relative;
  min-width: max(200rem, 200%);
  padding: 1.5rem max(100rem, 100%) 0 0;
  height: 6rem;
  cursor: grab;
}

.nav__track:active {
  cursor: grabbing;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.nav__link {
  position: relative;
  display: block;
  min-width: 8rem;
  padding: 2.25rem 1rem 0.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  z-index: 1;
  transition: color 150ms;
  cursor: pointer;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--activeColor);
  text-decoration: underline;
}

.nav__link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0.65rem;
  height: 0.65rem;
  background-color: currentColor;
  border-radius: 50%;
  transform: translate3d(-50%, 0, 0);
  transform-origin: center center;
}

.nav__link span {
  display: block;
  transition: transform 200ms;
}

.nav__link.is-active span {
  transform: scale(1.4);
  color: var(--activeColor);
}

.nav__link.is-active::after {
  display: none;
}




/* Timeline Container */
.timeline {
  margin: 20px auto;
  padding: 20px;
}

.timeline {

  /* Card container */
  .card {
    position: relative;
    max-width: 400px;
  }

  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }

  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }

  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--primary-color);
  }

  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }

  /* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
  @media only screen and (max-width: 400px) {
    .card:nth-child(odd)::before {
      top: -5px;
      bottom: -5px;
    }
  }

  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }

  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }

  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }

  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }

  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    background: #333;
    color: white;
    border-radius: 10px;
    padding: 15px;
  }

  /* Title of the card */
  .title {
    position: relative;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline #ce3635;
    text-underline-offset: 3px;
  }

  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--primary-color);
  }

  /* text right if the card is even  */
  .card:nth-child(even)>.info>.title {
    text-align: right;
  }

  /* setting dot to the left if the card is odd */
  .card:nth-child(odd)>.info>.title::before {
    left: -45px;
  }

  /* setting dot to the right if the card is odd */
  .card:nth-child(even)>.info>.title::before {
    right: -45px;
  }

}




@media (min-width: 800px) {

  h1 {
    text-align: center;
    font-size: 248px;
    margin: 0;
  }

  h2 {
    font-size: 298.34px;
  }

  h3 {
    text-align: center;
    font-size: 81.308px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}