@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-playfair), serif;
}

h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media (min-width: 800px) {

  h1 {
    text-align: center;
    font-size: 248px;
  }

  h2 {
    font-size: 298.34px;
  }

  h3 {
    text-align: center;
    font-family: "Playfair Display";
    font-size: 81.308px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}