@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), var(--font-playfair), serif;
}

h1 {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 267.34px;
  font-weight: 700;
}

h2 {
  font-family: "Playfair Display";
  font-size: 298.34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3 {
  text-align: center;
  font-family: "Playfair Display";
  font-size: 81.308px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}